<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ironman.sourcehouse.dao.HousePictureMapper">

    <resultMap id="BaseResultMap" type="com.ironman.sourcehouse.model.HousePicture">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="house_id" jdbcType="INTEGER" property="houseId"/>
        <result column="cdn_prefix" jdbcType="INTEGER" property="cdnPrefix"/>
        <result column="width" jdbcType="INTEGER" property="width"/>
        <result column="height" jdbcType="INTEGER" property="height"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
    </resultMap>

    <sql id="tableName">
        house_picture
    </sql>
    <sql id ="baseField">
        *
    </sql>

    <select id="fetchByHouseId" resultMap="BaseResultMap">
        select
        <include refid="baseField"/>
        from
        <include refid="tableName"/>
        where house_id = #{houseId}
    </select>




</mapper>