<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ironman.sourcehouse.dao.HouseMapper">
    <resultMap id="BaseResultMap" type="com.ironman.sourcehouse.model.House">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="area"  jdbcType="INTEGER" property="area"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="room"  jdbcType="INTEGER" property="room"/>
        <result column="floor"  jdbcType="INTEGER" property="floor"/>
        <result column="total_floor"  jdbcType="INTEGER" property="totalFloor"/>
        <result column="watch_times"  jdbcType="INTEGER" property="watchTimes"/>
        <result column="build_year"  jdbcType="INTEGER" property="buildYear"/>
        <result column="status"  jdbcType="INTEGER" property="status"/>
        <result column="create_time"  jdbcType="DATE" property="createTime"/>
        <result column="last_update_time"  jdbcType="DATE" property="lastUpdateTime"/>
        <result column="city_en_name"  jdbcType="VARCHAR" property="cityEnName"/>
        <result column="region_ne_name"  jdbcType="VARCHAR" property="regionEnName"/>
        <result column="cover"  jdbcType="VARCHAR" property="cover"/>
        <result column="direction"  jdbcType="INTEGER" property="direction"/>
        <result column="distance_to_subway"  jdbcType="INTEGER" property="distanceToSubway"/>
        <result column="parlour"  jdbcType="VARCHAR" property="parlour"/>
        <result column="district"  jdbcType="VARCHAR" property="district"/>
        <result column="adminId"  jdbcType="VARCHAR" property="adminId"/>
        <result column="bath_room"  jdbcType="INTEGER" property="bathroom"/>
        <result column="street"  jdbcType="VARCHAR" property="street"/>
    </resultMap>
    <sql id="tableName">
        house
    </sql>
    <sql id ="baseField">
        *
    </sql>


    <sql id = "condition">
        <where>
            <if test="house.title != null">
                title = #{house.title}
            </if>
            <if test="house.status != null">
                and status = #{house.status}
            </if>
            <if test="house.cityEnName != null">
                and city_en_name = #{house.cityEnName}
            </if>
            <if test="house.title != null">
                and title like CONCAT('%',#{house.title},'%')
            </if>
        </where>
    </sql>

    <select id="getWithPaginator" resultMap="BaseResultMap" >
        select
        <include refid="baseField"/>
        from
        <include refid="tableName"/>
        <include refid="condition"></include>
        ORDER BY
        ${sort.orderBy}
        ${sort.direction}
        limit
        #{paginator.start},
        #{paginator.size}
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        select
        count(1)
        from
        <include refid="tableName"/>
    </select>

    <select id="findById" resultType="com.ironman.sourcehouse.model.House">
        select
        <include refid="baseField"/>
        from
        <include refid="tableName"/>
        where id = #{id}
    </select>


    <update id="updateStatus">
        update
        <include refid="tableName"/>
        set
        status = #{status}
        where id = #{id}
    </update>

</mapper>